/* importar fuentes de google font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}
.login-container {
  max-width: 410px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d8dc;
}

.login-container .form-title {
  text-align: center;
  font-size: 1.37rem;
  font-weight: 600;
  margin-bottom: 1.87rem;
}

.login-container .social-login {
  display: inline;
}

.social-login .social-button {
  display: flex;
  width: 100%;
  gap: 0.81rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
  border-radius: 0.31rem;
  border: 1px solid #d9d8dc;
  transition: 0.3s ease;
}

.social-login .social-button:hover {
  background: #cdcccf;
}

.social-apple {
  background-color: black;
  color: #fff;
}

.social-login .social-button .social-icon {
  width: 23px;
}

.login-container .separator {
  margin: 1.5rem;
  text-align: center;
  position: relative;
}

.login-container .separator span {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 0.9rem;
  font-size: 1.06rem;
  font-weight: 500;
}

.login-container .separator:after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #cdcccf;
}

.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

.login-form .input-wrapper .input-field {
  width: 100%;
  height: 80%;
  border-radius: 0.31rem;
  border: 1px solid #cdcccf;
  padding: 0 1.25rem 0 3.12rem;
}

.login-form .input-wrapper .input-field:focus {
  border-color: #b6b4b9;
}

.login-form .input-wrapper i {
  position: absolute;
  top: 50%;
  left: 0.9rem;
  pointer-events: none;
  transform: translateY(-70%);
  transition: 0.2s ease;
}

.login-form .login-button {
  width: 100%;
  height: 40px;
  margin-top: 2.19rem;
  background: #000000;
  color: #fff;
  border: 1px solid #d9d8dc;
  border-radius: 0.31rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-form .login-button:hover {
  width: 100%;
  height: 40px;
  margin-top: 2.19rem;
  background: #b6b4b9;
  cursor: pointer;
}

.forgot-pass-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
