.footer {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 30px 20px;
  margin: 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-nav {
  padding: 2rem;
  gap: 20px;
  display: contents;
}

.footer-nav:hover a {
  background-color: antiquewhite;
}
