.header {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
